VITE_SUPABASE_URL=https://joxumhgwbailjircaxhg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpveHVtaGd3YmFpbGppcmNheGhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NDExMzcsImV4cCI6MjA5MzMxNzEzN30.1Bt7Old_B1XIRDoKZlpHXOnmMOntQZsWS2kqJoAPqj8

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpveHVtaGd3YmFpbGppcmNheGhnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzc0MTEzNywiZXhwIjoyMDkzMzE3MTM3fQ.6SL1-Uccx-_3Tf_Qpp8w9PAf3sjLmug_141oVrzw4nA
